/*Reset CSS*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

body {
    /* background-image: url('images/fond-jungle-plat-organique_23-2148957621.jpg');
    background-repeat: no-repeat; */
    background: rgb(175, 204, 78);
    background: linear-gradient(150deg, rgba(175, 204, 78, 1) 0%, rgba(61, 172, 155, 1) 74%, rgba(60, 103, 14, 1) 94%);
}

#TitrePrincipal {
    background: rgb(175, 204, 78);
    background: linear-gradient(150deg, rgba(175, 204, 78, 1) 0%, rgba(61, 172, 155, 1) 74%, rgba(60, 103, 14, 1) 94%);

    text-align: center;
    color: black;
}

.TitreSections {
    /* h2*/
    background-color: forestgreen;
    text-align: center;
    color: #12da3a;
    text-shadow: #5CADD3;
}

nav {
     /* MENU */
    width: 100%;
    margin: 0px auto 40px auto;
    background: rgb(175, 204, 78);
    background: linear-gradient(150deg, rgba(175, 204, 78, 1) 0%, rgba(61, 172, 155, 1) 74%, rgba(60, 103, 14, 1) 94%);
    position: sticky;
    top: 0px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 25%;
    /*100% divisé par le nombre d'éléments de menu*/
    text-align: center;
    /*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    /*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;
    /*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover {
     /*petit changement dev couleurs au passage du cursor*/
    color: rgb(255, 162, 0);
    border-bottom: 2px solid rgba(255, 217, 0, 0.943);
}

.conteneur {
    margin: 0px 20px;
    height: 1500px;
}


p {
    color: black;
}

/*-------------------------------------------------------------------------------
---------------------------- COCKTAILS AVEC ET SANS ALCOOLS --------------------------------------------
-------------------------------------------------------------------------------*/

.recipes {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.recipes img {
    max-height: 180px;
    position: relative;
}


figure {
    display: inline-block;
    position: relative;
    margin: auto;
    overflow: hidden;
    margin-bottom: 4px;
}

.figcap {
    position: absolute;
    bottom: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 200px;
    visibility: hidden;
}



#fig1:hover .figcap {
    visibility: visible;
}

#fig2:hover .figcap {
    visibility: visible;
}

#fig3:hover .figcap {
    visibility: visible;
}

#fig4:hover .figcap {
    visibility: visible;
}

#fig5:hover .figcap {
    visibility: visible;
}

#fig6:hover .figcap {
    visibility: visible;
}

#fig7:hover .figcap {
    visibility: visible;
}

#fig8:hover .figcap {
    visibility: visible;
}


.figcap p {

    margin-left: -210px;
}

.figcap p {
    color: white;
    margin-left: -190px;
    padding-right: 180px;
    height: 40px;
    width: 300px;
}

.era {
    position: relative;
}

.gras {
    font-weight: bold;
    font-size: 20px;
}


/*-------------------------------------------------------------------------------
---------------------------- À propos --------------------------------------------
-------------------------------------------------------------------------------*/
#sec_form {
    background-color: #F5F5F5;
}

#contframe {
    position: relative;
}

#filtre {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 450px;
    background-color: rgba(15, 169, 92, 0.339);
    padding: 50px 0px 50px 0px;
    pointer-events: none;
}

iframe {
    width: 100%;
}

#formulaire {
    display: flex;
    flex-direction: column;
}

#contact {
    text-transform: none;
    text-align: left;
    font-size: 25px;
}

#contactinfo {
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 4%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    padding: 30px;
}

#centrage {
    width: 240px;
}

input {
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 6px 0px 6px 6px;
}

#SAS {
    font-weight: bold;
}

form p {
    background-color: #5CADD3;
    color: white;
    padding: 5px 5px 5px 5px;
    width: 45%;
    border-radius: 3px;
    border-bottom: 3px #468CAD solid;

}

textarea {
    font-family: Arial, sans-serif;
    padding: 6px 0px 6px 6px;
    border-radius: 4px;
    border: 1px solid grey;
}

#message {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: gold;
    font-family: Arial;
    /* padding: 15px; */
    background-color: #0BC353;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

#message:hover {
    border: solid #FFAE00 1px;
    background: #4BF63D;
    background-image: -webkit-linear-gradient(top, #4BF63D, #1ED03A);
    background-image: -moz-linear-gradient(top, #4BF63D, #1ED03A);
    background-image: -ms-linear-gradient(top, #4BF63D, #1ED03A);
    background-image: -o-linear-gradient(top, #4BF63D, #1ED03A);
    background-image: -webkit-gradient(to bottom, #4BF63D, #1ED03A);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

footer{
    background: rgb(175, 204, 78);
    background: linear-gradient(150deg, rgba(175, 204, 78, 1) 0%, rgba(61, 172, 155, 1) 74%, rgba(60, 103, 14, 1) 94%);
    text-align: center;
}


/*-------------------------------------------------------------------------------
---------------------------- Media Queries --------------------------------------------
-------------------------------------------------------------------------------*/